<h1>Listing articles</h1>
<div class="container-fluid">
  <%= link_to 'New article', new_article_path %>
  <div>
    
   
    <% @articles.each do |article| %>
      
      <%= article.title %>
      <%= article.text %>
      
    
    <% end %>
  </div>
</div>