<h1>Listing articles</h1>
<div class="container-fluid">
  <article class="post-box">
    <% @articles.each do |article| %>
      <h1 class="center"><%= link_to article.title, article_path(article) %></h1>
      <p><%= article.text %></p>
      <br>
    <% end %>
  </article>
</div>