<% if user_signed_in? && current_user.isAdmin %>
  <div class='contrainer-fluid center'>
    <div class='articles-box'>
    <%= render 'form' %>
    </div>
    <%= link_to 'Back', articles_path %>
  </div>
<% else %>
  <h1>Access denied</h1
<% end %>